body {
    /**/
    background-color: white;/* #B0C0D0;*/
    color: #999999;
    font-family: 'Arial', 'Helvetica', 'Sans-serif';
    font-size: 9pt;
    margin: 0px;
   
}

h1{
    font-size:9pt;
}

.normal{
    font-size:9pt;
    font-family: 'Arial', 'Helvetica', 'Sans-serif';
    font-style: normal;
    color:black;
}


.normal1{
    font-size:9pt;
    font-family: 'Arial', 'Helvetica', 'Sans-serif';
    font-style: normal;
    color: #21446D;
}

.title{
    font-size:9pt;
    font-family: 'Arial', 'Helvetica', 'Sans-serif';
    font-weight: bold;
    color: #044368;
}

.strong{
    font-size:9pt;
    font-family: 'Arial', 'Helvetica', 'Sans-serif';
    font-weight: bold;
}

.error{
    font-size:9pt;
    font-family: 'Arial', 'Helvetica', 'Sans-serif';
    font-weight: bold;
    color: red;
}


.ok{
    font-size:9pt;
    font-family: 'Arial', 'Helvetica', 'Sans-serif';
    font-weight: bold;
    color: green;
}



.feedbackPanelERROR {
    color: red;
    list-style: circle;
    font-weight: bold;
}

.feedbackPanelINFO {
    color: green;
    list-style: circle;
    font-weight: bold;
}

img {
    border: none;
}


a.none {
    background: transparent;
    padding-right: 0px;
}

a.menu:link {
    text-decoration: underline;
    font-size:9pt;
    color: #FFFFFF;
}

a.menu:visited {
    text-decoration: underline;
    font-size:9pt;
    color: #FFFFFF;
}

a.menu:hover {
    text-decoration: underline;
    color: #999999;
    font-size:9pt;
}

a.menu:active {
    text-decoration: underline;
    color: #FFFFFF;
    font-size:9pt;
}

a.tag:link {
    text-decoration: none;
}

a.tag:visited {
    text-decoration: underline;

}

a.tag:hover {
    text-decoration: underline;

}

a.tag:active {
    text-decoration: underline;

}

a.menu1:link {
    text-decoration: underline;
    font-size:9pt;
    color: #21446D;
}

a.menu1:visited {
    text-decoration: underline;
    font-size:9pt;
    color: #21446D;
}

a.menu1:hover {
    text-decoration: underline;
    color: gray;
    font-size:9pt;
}

a.menu1:active {
    text-decoration: underline;
    color: #999999;
    font-size:9pt;
}

.link {
    text-decoration: underline;
    font-size:9pt;
    color: #21446D;
}


.descriptionResults {
    /*background: #eef5ff; */
    width:100%;
    border-top: #B0C0d0 1px solid;
    padding-top:10px;
    padding-bottom:10px;
    background:white;
}


.barTop {
    width:100%;
    border-top: #B0C0D0 1px solid;
}

.subDescriptionResults {
    /*background: #eef5ff;*/
    width:100%;
    border-top: #B0C0d0 1px solid;
}

a.normalFontLink:link {
    font-size:9pt;
}

a.normalFontLink:visited {
    font-size:9pt;
}

a.normalFontLink:hover {
    font-size:9pt;
}

a.normalFontLink:active {
    font-size:9pt;
}

.message_list {
    list-style: none;
    padding: 0px;
    overflow:auto;
}

.message_list li {
    padding: 0;
    background: white;
    border-bottom: #ebebeb 1px solid;
}


.message_list li:hover {
    color: gray;
    background: #f1f1f1;
}

.message_list li.active {
    background: #B0C0D0;/*#f1f1f1;*/
}

.message_head {
    padding: 0px 0px;
    cursor: pointer; 
    position: relative;
    height: 10px;
    width:280px;
}

.message_body {
    padding: 0px 0px 0px;
    background-color: white;
    height:auto; /* 180px*/
    overflow:hidden;
    /*width:250px;*/
}

/* ----------------------------------------------------------------------------*/

.message_list_trad {
    list-style: none;
    padding: 0px;
    overflow:auto;
}

.message_list_trad li {
    padding: 0;
    border-bottom: #ebebeb 1px solid;
}

.message_list_trad li:hover {
    background: #ffffff;
}

.message_list_trad li.active {
    background: #ffffff;
}

.message_head_trad {
    padding: 0px 0px;
    cursor: pointer;
    position: relative;
    height: 10px;
}

.message_body_trad {
    padding: 0px 0px 0px;
    overflow:auto;
    width: 1000px;
}
/* ----------------------------------------------------------------------------*/

.traduction {
    display:none;
    background:#fffef5;
    border:1px solid #d9d9d9;
    width:auto;
}

.message_list1 {
    list-style: none;
    margin: 1px;
    padding: 8px;
    width: 160px;
    overflow:auto;
    /*margin-bottom: 1px;
    margin-top: 1px;*/
}

.message_list1 li {
    padding: 0;
    background: white;
    /*border-bottom: #ebebeb 1px solid;
    border-top: #ebebeb 1px solid;*/
}

.message_head1 {
    padding: 0px 0px;
    position: relative;
    height: 20px;
  /*  border-bottom: 1px gray;
    margin-bottom: 1px;*/

}

.message_body1 {
    padding: 0px 0px 0px;
    background-color: white;
    height:150px;
    overflow: auto;
}
-->

.document_list {
    list-style: none;
    padding: 0;
    overflow:auto;
    width: 100%;
}

.document_list li {
    padding: 10px;
    border-bottom: 1px gray dotted;
 
}

.document_list li:hover {
    color: gray;

}

.document_list li.active {
    color:#666666;
}

.document_head {
    padding: 0px 0px;
    cursor: pointer;
    width: 100%;
}

.document_body {
    padding: 0px 0px 0px;
    overflow: auto;
    width:100%;
}


.top {
    position:relative;
}


.even{
     background:#FFFFFF;

}

.odd{
    background:#F3F8FC;
}

#wrapper {
	text-align: left;
	margin: 0px auto;
	padding: 0px;
	border:0;
	width: 100%;
	
}

#header {
	margin: 0 0 15px 0;
	
}

#side-a {
	float: left;
	width: 18%;
    border:1px solid #d9d9d9;
}

#side-b {
	float: left;
	width: 20%;
     border:1px solid #d9d9d9;
}

#content {
	float: left;
	width: 55%;
    border:1px solid #d9d9d9;
}

#footer {
	clear: both;
	background: #A2A2A2;
}


#container {
	clear: both;
    width:100%;
}



