## Configuration file for DocumentAnalysis

## GRM file location
#GRM_FILE = /home/xtannier/parSem/xip/dev/GRAMMARS/ENGLISH/GRMFILES/GRAM_GEN/gram_gen.grm
GRM_FILE = /home/xtannier/parSem/xip/dev/GRAMMARS/ENGLISH/APPLICATIONS/SPECTEMP/GRMFILES/gram_temporalExp.grm

