

BODY {
    background: white;
    margin-left: 2cm;
    margin-right: 2cm;
    width: 15cm;
}

ANTEC {
    color: RED;
}

ANAPHOR {
    color: BLUE;
    background-color: YELLOW;
}

ANAPHORIC {
    color: BLUE;
}

QUOTED {
    color: #9F141A;
}

INDICE {
    color: BLACK;
    font-size: 50%;
}


COORD {
    color: FUCHSIA;
    font-size: 100%
}


DIV TABLE TR TD TABLE TR TD DIV NLP NLPL {
    color: BLUE;
}


