## Configuration file for temporal analysis

## level of temporal inference
TEMPORAL_INFERENCE_LEVEL=1

## maximum number of sentences for which the
##   composition of temporal relations is calculated
##   (0 = infinite)
TEMPORAL_COMPOSITION_LEVEL=2

## true if the temporal relations should be
##   infered/kept in an economy mode
TEMPORAL_ECONOMY_MODE=true

## Temporally robust
## means that it won't crash because of a Temporal Inconsistency
## default is TRUE
TEMPORAL_ROBUST=1

## Print temporal dictionary
TEMPORAL_PRINT_DICT=false