<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>XIP WEB</display-name>
    <description>
	This is a simple web application allowing XIP evaluation
    </description>

</web-app>
