/* style page in blue*/


body {
background-color:#FFF4DB; 
font-family:'Arial';
font-size:10pt;
margin-top:0;
margin-left:128;
color: #065898;
background-image:url('../images/gradient_brown.jpg');
background-repeat: repeat-y;
background-position :left;
}


frameset { border:0;}

li.error { 
background-image: url('../images/error-badge.gif');
background-position :left;
background-repeat: no-repeat;
}


li.puce {
 background-image: url('../images/blue-ball-mid.gif');
 background-position: left center;
 background-repeat: no-repeat;
}
/* default link */
A:link {text-decoration:none ;color:#7882c5;font-weight:bold;font-size:10pt} 
A:visited {text-decoration:none;color:#7882c5;font-weight:bold;font-size:10pt}
A:active {text-decoration:none;color:#7882c5;font-weight:bold;font-size:10pt}
A:hover {text-decoration:none;color:#065898;font-weight:normal;font-size:10pt}

A.error:link { font-size:11pt;
               font-family:'Arial';
               font-weight:bold;
               text-decoration:line-through;
               color:white;
               background-color:red;
               
} 
A.error:visited { font-size:11pt;
               font-family:'Arial';
               font-weight:bold;
               text-decoration:line-through;
               color:white;
               background-color:red;
               
} 
A.error:active { font-size:11pt;
               font-family:'Arial';
               font-weight:bold;
               text-decoration:line-through;
               color:red;
               background-color:transparent;
               
} 
A.error:hover { 
               font-size:11pt;
               font-family:'Arial';
               font-weight:bold;
               text-decoration:line-through;
               color:red;
               background-color:transparent;
               
} 


td.exercice {
                 /*width:100%;*/
                 text-decoration:none;
                 color:#7882c5;
                 font-weight:normal;
                 font-size:11pt;
                 border-style:outset;
                 border-size:1;
                } 
td.exercice:hover {  
                /*width:100%;*/
                 text-decoration:none;
                 color:#7882c5;
                 font-weight:normal;
                 font-size:11pt;
                 border-style:inset;
                 border-size:1;}





A.exercice:link {
               /*width:100%;*/
                 text-decoration:underline;
                 font-weight:bold;   
                 /*color:#6c471f;*/
                 color:#7882c5;
                 font-size:11pt;
                } 
A.exercice:visited {
              /*width:100%;*/          
                 text-decoration:underline;
                font-weight:bold;   
                 /*color:#6c471f;*/
                color:#7882c5;
                 font-size:11pt;
}
A.exercice:active {
              /*width:100%;*/
                 text-decoration:none;
                font-weight:bold;   
                 color:#7882c5;
                 font-size:11pt;
              
                 }
A.exercice:hover {  
               /*width:100%;*/
                 text-decoration:underline;
                 /*background-color:rgb(43,113,183);               */
                 color:#999999;
                 font-weight:bold;
                 font-size:11pt;
              
              }



A.expand:link {
background-image: url('../images/expanded.gif');
background-repeat: no-repeat;
background-position :center;
}

A.expand:visited {
background-image: url('../images/expanded.gif');
background-repeat: no-repeat;
background-position :center;
}

A.expand:active {
background-image: url('../images/expanded.gif');
background-repeat: no-repeat;
background-position :center;
}

A.expand:hover {
background-image: url('../images/expanded.gif');
background-repeat: no-repeat;
background-position :center;
}

A.collapse:link {
background-image: url('../images/unexpanded.gif');
background-repeat: no-repeat;
background-position :center;
}

A.collapse:visited {
background-image: url('../images/unexpanded.gif');
background-repeat: no-repeat;
background-position :center;
}

A.collapse:active {
background-image: url('../images/unexpanded.gif');
background-repeat: no-repeat;
background-position :center;
}


A.collapse:hover {
background-image: url('../images/unexpanded.gif');
background-repeat: no-repeat;
background-position :center;
}


A.menu:link {color:#FFF4DB;font-weight:bold;text-decoration:underline;}
A.menu:visited {color:#FFF4DB;font-weight:bold;text-decoration:underline;}
A.menu:active {color:#FFF4DB;font-weight:bold;text-decoration:underline;}
A.menu:hover {color:#FFF4DB;font-weight:bold;text-decoration:underline;}

.balletMenu {
background-image:url('../images/ballet_blue.jpg');
background-color:rgb(43,113,183);
background-repeat:no-repeat;
background-position:left;
width:16;
}


.borderLeft{
width:32;
background-image:url('../images/border_left_menu_blue.jpg');
background-repeat:no-repeat;
background-position:right;
backgournd-color:rgb(43,113,183);
}


.menuFont {
background-color:rgb(43,113,183);
color:#FFF4DB;
}

frameset {border:0;}

table {
width:100%;
}



td { 
   background-image:url('../images/gradient_brown_rev.jpg');
   background-repeat: repeat-y;
   background-position :right;
   background-color:#FFF4DB;   
   }

td.nogradient {
  background-image:none;
  background-color:#FFF4DB;   
  /*background-color:transparent   ;*/
}



td.bottomBorder {
 background-image:none;
 border-style:solid;
  border-left:0;
  border-right:0;
  border-top:1;
  border-bottom:0;
  border-top-color:rgb(43,113,183);
}

td.bottomBorderGradient {
  border-style:solid;
  border-left:0;
  border-right:0;
  border-bottom:0;
  border-top:1;
  border-top-color:rgb(43,113,183);
}


td.label {
 font-family:'Arial';
 font-size:10pt;
 width:128;
 background-image:none;
 background-color:#FFF4DB;   
 
}



.blank {
  border-left:1;
  border-right:1;
  border-top:1;
  border-bottom:1;
  border-style:solid;
  /*background-color:#FFF4DB;*/
  background-color:transparent;
  color:#6c471f;
  text-align:center;
}



.bottomBorder {
  border-style:solid;
  border-left:0;
  border-right:0;
  border-top:1;
  border-bottom:0;
  border-bottom-color:rgb(43,113,183);
}

textarea {border:1;
          border-color:#6c471f;
	  border-style:solid;
          background-color:#bedbf9;
          color:#6c471f;         
/* color:rgb(43,113,183);*/
          background-image:url('../images/bigradient_blue.jpg');
          background-position:center;
          background-repeat:repeat-y;
          text-align:justify;
	  }

.title { background-color:#FFF4DB;
         color:rgb(43,113,183);
	 font-weight:bold;
	 border:1;
	 border-style:groove;
        }

.error_title { 
         background-color:#FFF4DB;
         color:#FF5E59;
	 font-weight:bold;
	 border:1;
	 border-style:groove;
        }



.subTitle { 
         background-color:rgb(43,113,183);
         background-image:url('../images/gradient_blue.png');
         background-repeat:repeat-y;
         background-position:right;
         color:#FFF4DB;
	 font-weight:bold;
	 border:0;
	 border-style:double;
}


.label {
   font-family: 'Arial';

  font-size:10pt;
   /*color:#FFF4DB;*/
   width:128;
}

.value {
   font-family:'Arial';
   font-size:11pt;
   font-weight:bold;   
   color:#6c471f;
   
}


.sentence {
 margin-left:64;
 margin-right:64;
 margin-top:10;
 margin-bottom:10;
 color:#6c471f;
 text-align:justify;
}

.labelBlue {
   font-family:'Arial';
   font-size:10pt;
   width:128;
   background-image: url('../images/blue-ball-mid.gif');
 background-position: left center;
 background-repeat: no-repeat;
}


.panel{
 
/*background-color:#FFF4DB;*/
background-color:transparent;
margin-left:64;
margin-right:64;
text-align:jusity;

}

.example {
   font-family:'Courier';
   font-size:10pt;
   font-style:italic; 
   color:#a11f1d;
   margin-left:64;
}

.say {
  font-family:'Veradana';
  font-size:10pt;
  font-style:normal;
  margin-left:64;
  margin-right:64;
  text-align:justify;
}

.upperleftShort {
width:50%;
margin-left:auto;
margin-right:auto;
background-color:rgb(43,113,183);
background-image: url('../images/upperleft_blue.png');
background-repeat: no-repeat;
background-position :top left;
}



.upperleft {
width:90%;
margin-left:auto;
margin-right:auto;
background-color:rgb(43,113,183);
background-image: url('../images/upperleft_blue.png');
background-repeat: no-repeat;
background-position :top left;
}

.upperright {
background-image: url('../images/upperright_blue.png');
background-repeat: no-repeat;
background-position :top right;
}
.lowerleft {
background-image: url('../images/lowerleft_blue.png');
background-repeat: no-repeat;
background-position :bottom left;
}
.lowerright {
background-image: url('../images/lowerright_blue.png');
background-repeat: no-repeat;
background-position :bottom right;
padding : 2% 2% 2% 2%;
}


.lowerrightShort {
background-image: url('../images/lowerright_blue.png');
background-repeat: no-repeat;
background-position :bottom right;
padding : 1% 1% 1% 1%;
}


.show {
visibility:show;
position:relative;
}

.verb {
color:#008040;
text-decoration:underline;
}

.verbChecked {
background-color:#008040;
color:#FFFFFF;
text-decoration:none;
}


.errorAnswer {
border-style:outset;
border-color:#FFF4DB;
border-size:1;
visibility:hidden;
position:absolute;
background-color:#FFF4DB;
color:red;
}



/* style for errors */

.error_upperleft {
width:90%;
margin-left:auto;
margin-right:auto;
background-color:#FF5E59;
background-image: url('../images/upperleft.png');
background-repeat: no-repeat;
background-position :top left;
}

.error_upperright {
background-image: url('../images/upperright.png');
background-repeat: no-repeat;
background-position :top right;
}
.error_lowerleft {
background-image: url('../images/lowerleft.png');
background-repeat: no-repeat;
background-position :bottom left;
}
.error_lowerright {
background-image: url('../images/lowerright.png');
background-repeat: no-repeat;
background-position :bottom right;
padding : 2% 2% 2% 2%;
}


.error_lowerrightShort {
background-image: url('../images/lowerright.png');
background-repeat: no-repeat;
background-position :bottom right;
padding : 1% 1% 1% 1%;
}

.next {
background-image: url('../images/next.png');
background-repeat: no-repeat;
background-position :center center;

}

.reset {
background-image: url('../images/reset.gif');
background-repeat: no-repeat;
background-position :center center;

}

.correct {
background-image: url('../images/correctionView.gif');
background-repeat: no-repeat;
background-position :center center;

}

.ok {
background-image: url('../images/ok.gif');
background-repeat: no-repeat;
background-position :center center;

}

.sort {
background-image: url('../images/alphaSort.gif');
background-repeat: no-repeat;
background-position :center center;

}

