## Configuration file for TempEval particularities


## Corpus name
CORPUS = TempEval

## Application name
APPLICATION = tempeval


## TempEval task type
CORPUS_TASK = AB


## Extra XIP files
##XIP_FILES = /home/xtannier/parSem/xip/dev/GRAMMARS/ENGLISH/APPLICATIONS/SPECTEMP/FEATUREFILES/features_tempeval.xip, /home/xtannier/parSem/xip/dev/GRAMMARS/ENGLISH/APPLICATIONS/SPECTEMP/SCRIPTS/tempeval_guide.xip, +/home/xtannier/parSem/xip/dev/GRAMMARS/ENGLISH/APPLICATIONS/SPECTEMP/SCRIPTS/tempeval_dep.xip
XIP_FILES = /home/xtannier/parSem/xip/dev/GRAMMARS/ENGLISH/APPLICATIONS/SPECTEMP/FEATUREFILES/features_tempeval.xip, /home/xtannier/parSem/xip/dev/GRAMMARS/ENGLISH/APPLICATIONS/SPECTEMP/SCRIPTS/tempeval_guide.xip



## Input files are in XML
XML_INPUT = TRUE


## File containing the event list for tasks A and B
CORPUS_EVENT_LIST = /opt/ParSem/Corpora/ENGLISH/SemEval07/TempEval/trial/data/event_list.txt


## Use TIMEX values
CORPUS_USE_TIMEX_VALUES = false

## Choose random relations when don't find them, etc...
CORPUS_PRIORITY_TO_RECALL = false

## Choose random relations every time (to get a baseline)
CORPUS_ALL_RANDOM_RELATIONS = false

## printing infos
PRINT_SENTENCE_NUMBER = 1
PRINT_SENTENCE_TEXT = 1
