## Configuration file for TempEval particularities

## New GRM FILE (including normal one)
GRM_FILE = /home/xtannier/parSem/xip/dev/GRAMMARS/ENGLISH/APPLICATIONS/SPECTEMP/GRMFILES/gram_wsj.grm

## Corpus name
CORPUS = WSJ
#CORPUS = GlasgowHerald

## Application name
APPLICATION = TimeForEvents

## Possible application tasks for TimeForEntities
APP_TASK = build_temp_en_base


## Extra XIP files
##XIP_FILES = /home/xtannier/parSem/xip/dev/GRAMMARS/ENGLISH/APPLICATIONS/SPECTEMP/SCRIPTS/wsj_guide.xip


## Input files are in XML
XML_INPUT = TRUE


## MySQL info
MYSQL_HOSTNAME = etretat
MYSQL_PILOTE = com.mysql.jdbc.Driver

## DATABASE info
APP_TEMP_EN_BASE = temp_events
APP_TEMP_EN_TABLE = temp_events
APP_TEMP_EN_LOGIN = root
APP_TEMP_EN_PASSWD = root

APP_DBCONNECTION = true

## printing infos
PRINT_SENTENCE_NUMBER = 1
PRINT_SENTENCE_TEXT = 1