#GOOGLE_ADDRESS = xtannier@gmail.com
#GOOGLE_PASSWORD = saka2718
#GOOGLE_PERSON = "Xavier Tannier"

#DEFAULT_TEMPORAL_RELATION = AFTER

STOP_WORD_LIST = /home/xtannier/Travail/stop_words.txt

## level of temporal inference
TEMPORAL_INFERENCE_LEVEL=2


GRM_FILE = /home/xtannier/parSem/xip/dev/GRAMMARS/ENGLISH/APPLICATIONS/SPECTEMP/GRMFILES/gram_email_miner.grm

# Meeting tomorrow at 5 PM in Mont-Blanc during two hours.